<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>信息无缝滚动效果</title>
    <style>
* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}

ul {
    list-style: none;
}

a img {
    border: none;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

#box {
    width: 335px;
    height: 144px;
    margin: 50px auto 0 auto;
    overflow: hidden; /*  这个一定要加，超出的内容部分要隐藏，免得撑高中间部分 */
}

/*#cont1 {
    background: lightcoral;
}

#cont2 {
    background: lightblue;
}*/
    </style>
</head>
<body>

<div id="box">
    <ul id="cont1">
        <li><a href="#">111111111111</a></li>
        <li><a href="#">222222222222</a></li>
        <li><a href="#">333333333333</a></li>
        <li><a href="#">444444444444</a></li>
        <li><a href="#">555555555555</a></li>
        <li><a href="#">666666666666</a></li>
        <li><a href="#">777777777777</a></li>
        <li><a href="#">888888888888</a></li>
        <li><a href="#">999999999999</a></li>
    </ul>
    <ul id="cont2"></ul>
</div>

<script>

let aaa = null;
let bbb = undefined;
let ccc = 0;
let ddd = '';
let eee = NaN;
let fff = false;
let ggg = [].length;

if (ggg) {
	console.log('上面6种都不会进入这个if')
}

console.log(timerrr)

var wxTimer = function (initObj) {
    console.log('进 wxTimer')
    initObj = initObj || {}
    this.TimeSpan = initObj.TimeSpan || 0 // 开始时间
    this.interval = initObj.interval || 0 // 间隔时间
    this.complete = initObj.complete // 结束任务
    this.intervalFn = initObj.intervalFn // 间隔任务
    this.name = initObj.name // 当前计时器在计时器数组对象中的名字

    this.intervarID // 计时ID
}

wxTimer.prototype = {
    // 开始
    start: function (self) {
        var that = this
        // 开始倒计时
        var count = 0
        function begin () {
            var curSpanTime = new Date(that.TimeSpan - 1000 * count++)
            var T = new Date(curSpanTime)
            var tmpTimeStr =
                Math.floor(T / 1000 / 60 / 60 % 24) + '小时' +
                Math.floor(T / 1000 / 60 % 60) + '分钟'
            // console.log('curSpanTime', curSpanTime.getTime())
            var wxTimerSecond = (curSpanTime.getTime()) / 1000

            console.log(new Date('2018/03/22 11:36:50') - new Date())
            console.log(curSpanTime)
            console.log(T)
            console.log(tmpTimeStr)
            console.log(wxTimerSecond)

            // 时间间隔执行函数
            if (0 == (count - 1) % that.interval && that.intervalFn) {
                that.intervalFn()
            }
            // 结束执行函数
            if (wxTimerSecond <= 0) {
                if (that.complete) {
                    that.complete()
                }
                that.stop()
            }
        }

        begin()
        this.intervarID = setInterval(begin, 1000)
    },
    // 结束
    stop: function () {
        clearInterval(this.intervarID)
    }
}


var timerrr = new wxTimer({ // TimeSpan 为时间差 = 到期时间 - 现在的时间
    TimeSpan: new Date('2018/03/22 11:36:50') - new Date(),
    name: 'timer1',
    complete() {
        console.log('完成倒计时')
    }
})

timerrr.start(this)

var area = document.getElementById('box');
var cont1 = document.getElementById('cont1');
var cont2 = document.getElementById('cont2');

area.scrollTop = 0;
// 克隆cont1给cont2
cont2.innerHTML = cont1.innerHTML;

function myScroll() {
    if(area.scrollTop >= cont1.scrollHeight) {
        area.scrollTop = 0;
    }else {
        area.scrollTop++;
    }
}

var time = 50;
var interval = setInterval('myScroll()', time);

area.onmouseover = function () {
    clearInterval(interval);
};

area.onmouseout = function () {
    // 继续执行之前的定时器
    interval = setInterval('myScroll()', time);
};
</script>

</body>
</html>